@font-face {
  font-family: 'Montserrat-VariableFont_wght';
  src: url(fonts/Montserrat.zip)
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  background-image:url("images/bg_dandelions.png");
  background-size: 790px;
  background-repeat: no-repeat;
  background-position-x: calc(100%/2 - 160px)

}

.title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin-top: 220px ;
  margin-bottom: 110px;
  text-align: center; 
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  list-style: none;
  padding: 0;
  margin: 85px;
  width: 1110px;

}

.product-card {
  box-sizing: border-box;
  width: 340px;
  height: 573px;
  background-color: #e6e6e9;
  padding: 25px;
  
}


.category {
  font-size: 12px;
  line-height: 24px;
  color: #A5A3B9;
  margin-top: 15px;
  margin-bottom: 5px;
}

.product-name {
  font-size: 20px;
  line-height: 27px;
  margin-top: 25px;
}

.description {
  width: 287px;
  height: 36px;
}

.compound {
  width: 49px;
  height: 18px;

}

.ingredients {
  height: 18px;
  left: 125px;

}

.price {
  line-height: 24px;
  font-size: 20px;
}

.value {
  width: 73px;
  height: 24px;
  margin-left: 161px;
}

.compaund-list {
  margin-bottom: 20px;
}