*,
*::before,
*::after {
    box-sizing: border-box;  
}

@/* Montserrat Regular */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/static/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Montserrat Italic */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/static/Montserrat-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Montserrat Bold */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Montserrat Bold Italic */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/static/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
} 

body {
   font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  background-image:url("images/bg_dandelions.png");
  background-size: 790px;
  background-repeat: no-repeat;
  background-position-x: calc(100%/2 - 160px)
}

.clear-list{
  list-style: none;
  margin: 0;
  padding: 0;  
}

.catalog__conteiner {
  width: 1110px;
  margin: 0 auto;
}

.compound {
  width: 49px;
  height: 18px;
}

.title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin-top: 220px ;
  margin-bottom: 110px;
  text-align: center;
}

.card {
  background-color: #f7f7fa;
  padding: 25px;
}

.card__image {
  display: block;
  margin-bottom: 30px;
}

.card__category{
  color: #8c8c8c;
  text-transform: uppercase;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  margin-bottom: 116px;
}


.products__item {
  box-sizing: border-box;
  width: 340px;
  background-color: #e6e6e9;
  padding: 25px;
  
}

.card__name {
  font-size: 20px;
  line-height: 27px;
  margin-top: 25px;
}

.card__description {
  width: 287px;
  height: 36px;
  margin-bottom: 15px;
}

.card__compaund {
  margin-bottom: 20px;
}

.compaund__name {
  margin-bottom: 5px;
}

.ingredients {
  margin-left: -25px;
  margin-bottom: 5px;
}

.price-sum {
  display: flex;
  justify-content: space-between;
}

.price {
  line-height: 24px;
  font-size: 20px;
}

.value {
  width: 73px;
  height: 24px;
}

.color-toggle-button {
  background-color: #00ff00;
}
.color-toggle-button--active {
  background-color: #ff4400;
}
